.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
*.pyc
.env
.env.example
.venv
venv
env
*.log
htmlcov
.coverage
.coverage.*
coverage.xml
e2e
api/tests
worker/tests
README.md
README_RU.md
CHANGELOG.md
CONTRIBUTING.md
LICENSE
